In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0         Hoi sam mo fa  2011
1     O Signo das Tetas  2016
2      My Little Sister  1919
3     Jack Brown Genius  1996
4  Cheoljonggwa boknyeo  1963

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

226013

### What are the earliest two films listed in the titles dataframe?

In [6]:
sortedtitles = titles
sortedtitles.sort_values('year').head(2)

                     title  year
4625            Miss Jerry  1894
140105  The Startled Lover  1898

### How many movies have the single-word title "Hamlet"?

In [7]:
hamlettitles = titles[titles['title'] == "Hamlet"]
len(hamlettitles)

20

### How many movies are titled "North by Northwest"?

In [8]:
nxnw = titles[titles['title'] == "North by Northwest"]
len(hamlettitles)

20

### When was the first movie titled "Hamlet" made?

In [9]:
hamlettitles.sort_values('year').head(1)

         title  year
189536  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
titles[titles["title"] == "Treasure Island"].sort_values("year")

                  title  year
113392  Treasure Island  1918
93787   Treasure Island  1920
103471  Treasure Island  1934
70291   Treasure Island  1950
162575  Treasure Island  1972
124577  Treasure Island  1973
14540   Treasure Island  1985
156553  Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
len(titles[titles["year"] == 1950])

1109

### How many movies were made in the year 1960?

In [12]:
len(titles[titles["year"] == 1960])

1496

### How many movies were made from 1950 through 1959?

In [13]:
titles[(titles["year"] <= 1959) & (titles['year'] >= 1950)]

                        title  year
42      Na podmostkakh stseny  1956
61                   Julietta  1953
71                The Brigand  1952
79         Journey to Freedom  1957
94            Mi adorado Juan  1950
...                       ...   ...
225945      The Dancing Years  1950
225949                Paprika  1959
225955               Up Front  1951
225956     Face of a Fugitive  1959
226002             Fin de mes  1953

[12664 rows x 2 columns]

### In what years has a movie titled "Batman" been released?

In [14]:
titles[titles['title'] == "Batman"]

         title  year
47123   Batman  1989
188658  Batman  1943

### How many roles were there in the movie "Inception"?

In [15]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [16]:
len(cast[cast['title'] == "Inception"])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
len(cast[(cast['title'] == "Inception") & (cast['n'].notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [18]:
#subset where only 'n' values are listed
nxnwcast = cast[cast['title'] == "North by Northwest"]
nxnwcast = nxnwcast[cast['n'].notnull()]
nxnwcast.sort_values("n")

C:\Users\peter\AppData\Local\Temp\ipykernel_22360\1684218042.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nxnwcast = nxnwcast[cast['n'].notnull()]

,title,year,name,type,character,n
797150,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3201980,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1333732,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2878461,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
326415,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2780220,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1551491,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1167105,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2239203,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1657968,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
609229,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2100440,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
425645,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1379980,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
189719,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1267109,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [19]:
c = cast
len(c)

3442902

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

In [20]:
c=cast
c = c[c["title"] == "Hamlet"]
c = c[c["year"] == 1921]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [21]:
c=cast
c = c[c["title"] == "Hamlet"]
c = c[c["year"] == 1996]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
c = cast
c = c[c['character'] == "Hamlet"]
len(c)

93

### How many people have played an "Ophelia"?

In [23]:
c = cast
c = c[c['character'] == "Ophelia"]
len(c)

102

### How many people have played a role called "The Dude"?

In [24]:
c = cast
c = c[c['character'] == "The Dude"]
len(c)

17

### How many people have played a role called "The Stranger"?

In [25]:
c = cast
c = c[c['character'] == "The Stranger"]
len(c)

170

### How many roles has Sidney Poitier played throughout his career?

In [26]:
c = cast
c = c[c.name == "Sidney Poitier"]
len(c)

43

### How many roles has Judi Dench played?

In [27]:
c = cast
c = c[c.name == "Judi Dench"]
len(c)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
c = cast
c = c[c.name == "Cary Grant"]
c = c[(c.year >= 1940) & (c.year <= 1949)]
c = c[c.n == 2]
c

                   title  year        name   type    character    n
797147  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
797157    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [29]:
c = cast
c = c[c.name == "Cary Grant"]
c = c[(c.year >= 1940) & (c.year <= 1949)]
c = c[c.n == 1]
c = c.sort_values('year')
c.head(18)

,title,year,name,type,character,n
797172,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
797131,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
797174,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
797162,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
797176,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
797153,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
797122,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
797146,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
797154,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
797114,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
797149,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
797148,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
797151,Notorious,1946,Cary Grant,actor,Devlin,1.0
797168,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
797169,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
797145,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
797126,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
797135,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [30]:
c = cast
c = c[(c.year >= 1950) & (c.year <= 1959)]
c = c[c.type == "actor"]

len(c)

153559

### How many roles were available for actresses in the 1950s?

In [31]:
c = cast
c = c[(c.year >= 1950) & (c.year <= 1959)]
c = c[c.type == "actress"]

len(c)

56331

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [34]:
c = cast
c = c[(c.year <= 1980)]
c = c[c.n == 1]
len(c)

62763

### How many non-leading roles were available through from the beginning of film history through 1980?

In [35]:
c = cast
c = c[(c.year <= 1980)]
c = c[c.n != 1]
len(c)

1078306

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [36]:
c = cast
c = c[(c.year <= 1980)]
c = c[c.n.isnull()]
len(c)

437383